#include <autoconf.h>
#define xstr(s) str(s)
#define str(s) #s

#if ENABLE_FEATURE_ICON_ATERM || ENABLE_FEATURE_ICON_ALL
1 ICON "aterm.ico"
#endif
#if ENABLE_FEATURE_ICON_STERM || ENABLE_FEATURE_ICON_ALL
2 ICON "sterm.ico"
#endif

#if ENABLE_FEATURE_VERSIONINFO
1 VERSIONINFO
FILEVERSION     BB_VERSION,BB_PATCHLEVEL,BB_SUBLEVEL,BB_EXTRAVERSION
PRODUCTVERSION  BB_VERSION,BB_PATCHLEVEL,BB_SUBLEVEL,BB_EXTRAVERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "frippery.org"
      VALUE "FileDescription", "BusyBox multi-call binary"
      VALUE "FileVersion", xstr(BB_VER)
      VALUE "InternalName", "busybox"
      VALUE "LegalCopyright", "(C) 1998-2022 Many authors"
      VALUE "OriginalFilename", "busybox.exe"
      VALUE "ProductName", "busybox-w32"
      VALUE "ProductVersion", xstr(BB_VER)
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
#endif

/* Hardcode numeric value for MANIFEST for llvm windres */
#if ENABLE_FEATURE_UTF8_MANIFEST
1 24 "utf8.manifest"
#endif

#if ENABLE_FEATURE_APP_MANIFEST
1 24 "app.manifest"
#endif
