#include <autoconf.h>
#define xstr(s) str(s)
#define str(s) #s

#if ENABLE_FEATURE_ICON_ATERM || ENABLE_FEATURE_ICON_ALL
1 ICON "aterm.ico"
#endif
#if ENABLE_FEATURE_ICON_STERM || ENABLE_FEATURE_ICON_ALL
2 ICON "sterm.ico"
#endif

#if ENABLE_FEATURE_PNG_ATERM || ENABLE_FEATURE_PNG_ALL
1 ICON "aterm.png"
#endif
#if ENABLE_FEATURE_PNG_STERM || ENABLE_FEATURE_PNG_ALL
2 ICON "sterm.png"
#endif

#if ENABLE_FEATURE_VERSIONINFO
1 VERSIONINFO
FILEVERSION     BB_VERSION,BB_PATCHLEVEL,BB_SUBLEVEL,BB_EXTRAVERSION
PRODUCTVERSION  BB_VERSION,BB_PATCHLEVEL,BB_SUBLEVEL,BB_EXTRAVERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "frippery.org"
      VALUE "FileDescription", "BusyBox multi-call binary"
      VALUE "FileVersion", xstr(BB_VER)
      VALUE "InternalName", "busybox"
      VALUE "LegalCopyright", "(C) 1998-2022 Many authors"
      VALUE "OriginalFilename", "busybox.exe"
      VALUE "ProductName", "busybox-w32"
      VALUE "ProductVersion", xstr(BB_VER)
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
#endif

/* Hardcode numeric value for MANIFEST for llvm windres */
#if ENABLE_FEATURE_UTF8_MANIFEST
1 24
BEGIN
  "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
  "<assembly manifestVersion=""1.0"" xmlns=""urn:schemas-microsoft-com:asm.v1"" xmlns:asmv3=""urn:schemas-microsoft-com:asm.v3"">"
    "<assemblyIdentity type=""win32"" name=""busybox.exe"" version=""" xstr(BB_VERSION) "." xstr(BB_PATCHLEVEL) "." xstr(BB_SUBLEVEL) "." xstr(BB_EXTRAVERSION) """/>"
    "<asmv3:application>"
      "<asmv3:windowsSettings>"
        "<activeCodePage xmlns=""http://schemas.microsoft.com/SMI/2019/WindowsSettings"">UTF-8</activeCodePage>"
      "</asmv3:windowsSettings>"
    "</asmv3:application>"
    "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3"">"
      "<security>"
        "<requestedPrivileges>"
          "<requestedExecutionLevel level=""asInvoker""/>"
        "</requestedPrivileges>"
      "</security>"
    "</trustInfo>"
    "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
      "<application>"
        "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>"  /* Application support for Windows Vista */
        "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>"  /* Application support for Windows 7 */
        "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>"  /* Application support for Windows 8 */
        "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>"  /* Application support for Windows 8.1 */
        "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>"  /* Application support for Windows 10 */
      "</application>"
    "</compatibility>"
  "</assembly>"
END
#endif

#if ENABLE_FEATURE_APP_MANIFEST
1 24
BEGIN
  "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
  "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"">"
    "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3"">"
      "<security>"
        "<requestedPrivileges>"
          "<requestedExecutionLevel level=""asInvoker""/>"
        "</requestedPrivileges>"
      "</security>"
    "</trustInfo>"
    "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
      "<application>"
        "<supportedOS Id=""{e2011457-1546-43c5-a5fe-008deee3d3f0}""/>"  /* Application support for Windows Vista */
        "<supportedOS Id=""{35138b9a-5d96-4fbd-8e2d-a2440225f93a}""/>"  /* Application support for Windows 7 */
        "<supportedOS Id=""{4a2f28e3-53b9-4441-ba9c-d69d4a4a6e38}""/>"  /* Application support for Windows 8 */
        "<supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/>"  /* Application support for Windows 8.1 */
        "<supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/>"  /* Application support for Windows 10 */
      "</application>"
    "</compatibility>"
  "</assembly>"
END
#endif
